<div class="container ">
  <div  id="nav" class="container-nav">
      <div id="nav-row" class="row">          
            <nav  id="nav-otra" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
             
               <div id="barra" class="collapse navbar-collapse" id="navbarsExampleDefault">
                 <div id="titulo" class="col-sm">
                    <h1 style="color:#FFFFFF">Colegio San Rafael sede el Pensil</h1> 
                 </div>
                 <div class="col col-lg-2">
                    <div id="cerrar" class="text-right">
                        <a [routerLink]="['/actividad-docente']" class="text-info">Volver</a>
                    </div>                   </div>
               </div>
             </nav>
      </div>
      <div id="infoEstudiante"  class="row">
         <div  class="col-sm">
           <h2 icon="assets/perfil.png" style="color:rgb(0, 0, 0)">nombre</h2>
         </div>
         <div  class="col col-lg-2">
           <h2 style="color:rgb(0, 0, 0)"id="nombre">Grado</h2>
         </div>
      </div>
    </div>

<div id="inicio" class="row">

  <div class="col-sm">

    <form>
      <div class="form-group separar">
        <label >Pregunta</label>
        <input type="text" style="width: 470px; height: 100px;"  id="pregunta" class="form-control" name="pregunta" id="Pregunta" placeholder="Ingrese la pregunta"
          [(ngModel)]="pregunta. nombre">

      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <label>Puntos de premio:</label>
            
          </div>
          <div class="col-sm">
             <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="pregunta.premio"
                name="premio">
              <label class="custom-control-label" for="customSwitch1">no/si</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-">
          <label for="inputTipo">Tipo</label>
          
          <select #tipo="ngModel" type="text" style="border-color:black" name="tipo" id="tipo" class="form-control"
            [(ngModel)]="pregunta.tipo"  required>>
            <option *ngFor="let symbol of keys(tipos)"  [ngValue]="tipos[symbol]">{{symbol}}</option>
          </select>
        </div>
      </div>
      <img style="width:200px ;height:200px ;" src="assets/totoro.gif" >
    </form>
  </div>
  <div class="col-sm separar">

    <form id="formulario1 ">
      <div class="form-group">
        <label>Respuesta correcta</label>
        <input type="text" name="correcta" style="border-color: darkgreen" [(ngModel)]="respuestas[0].nombre" class="form-control" id="Respuesta1"
          placeholder="Respuesta correcta">
      </div>
      <div class="form-group">
        <label>Opcion 1</label>
        <input type="text" class="form-control" id="Respuesta3" style="border-color: red" name="res3" [(ngModel)]="respuestas[1].nombre"
          placeholder="Opcion de respuesta">

      </div>
      <div class="form-group">
        <label>Opcion 2</label>
        <input type="text" class="form-control" name="res2" style="border-color: red" [(ngModel)]="respuestas[2].nombre" id="Respuesta2"
          placeholder="Opcion de respuesta">

      </div>
      <div class="form-group">
        <label>Opcion 3</label>
        <input type="text" class="form-control" id="Respuesta4" style="border-color: red" name="res4" [(ngModel)]="respuestas[3].nombre" c
          placeholder="Opcion de respuesta">
      </div>
    </form>
    <div style="margin-top: 30px" class="row">
      <div class="col-sm">
          <button type="submit"  class="btn btn-primary " (click)="guardar()">Guardar</button>
      </div>
      <div class="col-lg-2">
          <div id="next" class="text-sucess ">
          
              <a href="/admin" style="padding-left:10px" class="btn btn-info  mb-3 bg-success">Siguiente</a>
            </div>
      </div>
        
  </div>
  </div>

</div>

</div>