
.menu{
    font-size: 90% ;
    position: absolute;
     right: 81px;
    
}
.barra{
    white-space: normal;
    margin-top: 0%;
    background-color:#f9f9f9;
    border: 1px solid rgba(216, 215, 215, 0.904);
}

.relleno{
    padding: 0%;
    margin:0%;
    background-image:url('src/assets/alfombraazul.gif');
}
.titulo{
  
    font-size: 140%;
    justify-content:left;
     margin-left:550px;
    margin-right: auto;
}