<div class="p-4 mb-2 relleno text-white">
  <div class="row">
    <div class="col-sm">
        <h1 style="color: #000000" >Colegio San Rafael</h1>
    </div>
    <div class="col">
        <div id="cerrar" class="text-right">
            <input type="button" name="submit" class="btn btn-info btn-md" value="Cerrar" width="18" (click)="cerrar()">
           
          </div>
    </div>
  </div>
  
</div>
<nav class="navbar navbar-expand-lg navbar-dark barra">
  <a class="navbar-brand" href="/home"  style="color:#000000">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link " href="/#" style="color:#000000">
          <span> <img src="assets/starM.png" alt="imagen">Resultados</span><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin" style="color:#000000">
          <span> <img src="assets/student.png" alt="imagen">Estudiantes</span> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:#000000">
          <span> <img src="assets/carpetaPe.png" alt="imagen">Archivos</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#000000">
          <span> <img src="assets/mul.png" alt="imagen">Material Apoyo</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
         
          <a class="dropdown-item" href="#" >Videos</a>
          <a class="dropdown-item" href="#" >Diapositivas</a>
          <a class="dropdown-item" href="#" >Imagenes</a>
          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#000000">
          <span> <img src="assets/libroPe.png" alt="imagen">Actividades</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
         
          <a class="dropdown-item" href="/actividad-profesor/{{materia.id}}" *ngFor="let materia of materias">{{materia.nombre}}</a>
          
        </div>
      </li>
      
    </ul>
     
    <li class="menu nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="assets/notificacion.png" alt="imagen">
        <!-- Counter - Alerts -->
        <span class="badge badge-danger badge-counter">1+</span>
      </a>
     <!-- Dropdown - Alerts -->
     <div class=" menu dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#" >
     <img src="assets/alert.png"/>Alerta De progreso</a>
     
   <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Ver todas las alertas</a>
    </div>
    </li>
  </div>
</nav>