<div id="actividad" class="divClaseActividad">
  <div class="container-nav">
    <div id="nav1-row" class="row">
      <nav id="nav-otra" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barra">
          <div id="titulo" class="col-sm">
            <h1 style="color:#FFFFFF">Colegio San Rafael</h1>
          </div>
          <div class="col col-lg-2">
            <div class="row">
              <div id="columna0" class="col">
                <div id="cerrar" class="text-right">
                  <a [routerLink]="['/login']" class="text-info">Cerrar sesión</a>
                </div>
              </div>
              <div id="columna1" class="col-sm">
                <input id="volver" type=image src="assets/home.png" width="40" height="40"
                  onclick="location.href='/inicioestudiante'">
              </div>
            </div>

          </div>
        </div>
      </nav>
    </div>

    <div id="infoEstudiante" class="row">
      <div class="col-sm">
        <h2 style="color:#FFFFFF">nombre</h2>
      </div>
      <div class="col col-lg-2">
        <h2 style="color:#FFFFFF" id="nombre">Grado</h2>
      </div>
    </div>
    <div id="tabla" class="row">
      <div class="col-sm">
          <h3 style="margin-left: 550px;margin-top: 50px">Responde la siguiente pregunta:</h3>
        <div *ngIf="estado==false" id="lista" class="container">
         
          <div style="height: 70px;width: 600px;margin-left: 580px; border: 3px solid rgb(12, 12, 12);text-align: center" class="alert alert-info">
              
            <h2 class="alert-heading mx-auto" >{{preguntaActual.nombre}} ?</h2>
            <p>{{preguntaActual.descripcion}}</p>
          </div>
        </div>
        
          <div class="cajon1" *ngFor="let item of ruta">
              <img src={{item}} width="80" height="80">
            </div>
       </div>
    
    </div>

    <div class="row">
      <div class="col-sm">
        <img style="margin-top: -70px;" src="assets/magia.png" >
      </div>
      <div class="col-sm">
        <ul  class="list-group w-75 mx-auto">
          
        
        <li style="width: 500px;margin-right: 300px; font-size: 25px"  class="list-group-item list-group-item-danger p-4 mt-2" (click)="seleccionar(respuestas[arreglo[0]])">{{respuestas[arreglo[0]].nombre}} </li> 
        <li style="width: 500px; font-size: 25px " class="list-group-item list-group-item-success p-4 mt-2" (click)="seleccionar(respuestas[arreglo[1]])">{{respuestas[arreglo[1]].nombre}}</li>
        <li style="width: 500px; font-size: 25px" class="list-group-item list-group-item-warning p-4 mt-2"  (click)="seleccionar(respuestas[arreglo[2]])">{{respuestas[arreglo[2]].nombre}}</li>
        <li style="width: 500px;  font-size: 25px" class="list-group-item list-group-item-info p-4 mt-2"  (click)="seleccionar(respuestas[arreglo[3]])">{{respuestas[arreglo[3]].nombre}}</li>
      </ul>
    </div>
  </div>
</div>
<div id="pie" class="row">
    <h4  style="margin-left: 400px; margin-top: 50px " >Institución Educativa rural San Rafael sede el Pensil</h4>
  </div>
</div>