
 <div class="container-fluid">
  <div class="row justify-content-md-center">
   <h1>Colegio San Rafael</h1> 
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
  <div class="card" style="width: 18rem;">
    <img src="assets/actividad.jpg" class="card-img-top" >
    <div class="card-body">
         <h5 class="card-title">Actividades</h5>
         <p class="card-text">Aquí encontrarás las actividades propuestas por tu profesor</p>
         <a href="#" class="btn btn-primary">Ver actividades</a>
       </div>
    </div>
  </div>
  <div class="col-sm">
      <div class="card" style="width: 18rem;">
          <img src="assets/documentos.jpg" class="card-img-top" >
          <div class="card-body">
               <h5 class="card-title">Actividades</h5>
               <p class="card-text">Aquí encontrarás las actividades propuestas por tu profesor</p>
               <a href="#" class="btn btn-primary">Ver actividades</a>
             </div>
          </div>
  </div>
  </div>
</div>
