*{
  margin: 0px;
  padding: 3px;  
}

div#nav-row{
  margin-top: 60px;
  }

div#target-row{
align-content: center;
  
}

div#target-col-tres{
  text-align: center;
  
}
div#target-col-dos{
  text-align: center;
}
div#nombre{
  text-align: right;
}

div#target-col-uno{
  text-align: center;
 
}
div#infoEstudiante{
background-image: url('src/assets/Encabezado.png');
height: 100px;
}
div#pie{
  text-align: center;
background-image: url('src/assets/pie.png');
height: 150px;
}

