<div id="actividad" class="divClaseActividad">
  <div class="container-nav">
    <div id="nav1-row" class="row">
      <nav id="nav-otra" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barra">
          <div id="titulo" class="col-sm">
            <h1 style="color:#FFFFFF">Colegio San Rafael</h1>
          </div>
          <div class="col col-lg-2">
              <div class="row">
                  <div id="columna0" class="col">
                      <div id="cerrar" class="text-right">
                        <a [routerLink]="['/login']" class="text-info">Cerrar sesión</a>
                      </div>
                    </div>
                    <div id="columna1" class="col-sm">
                      <input id="volver" type=image src="assets/home.png" width="40" height="40"
                        onclick="location.href='/inicioestudiante'">
                    </div> </div>
                
            </div>
        </div>
      </nav>
    </div>

    <div id="infoEstudiante" class="row">
      <div class="col-sm">
        <h2 style="color:#FFFFFF">Nombre del estudiante</h2>
      </div>
      <div class="col col-lg-2">
        <h2 style="color:#FFFFFF" id="nombre">Grado</h2>
      </div>
    </div>
    
    <a id="juego" class="btn btn-danger" [routerLink]="['/juego-parejas']">Juego parejas</a>
  </div>

</div>
