<div id="actividad" class="divClaseActividad">
  <div class="container-nav">
    <div id="nav1-row" class="row">
      <nav id="nav-otra" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barra">
          <div id="titulo" class="col-sm">
            <h1 style="color:#FFFFFF">Colegio San Rafael sede el Pensil</h1>
          </div>
          <div class="col col-lg-2">
              <div class="row">
                  <div id="columna0" class="col">
                      <div id="cerrar" class="text-right">
                        <a [routerLink]="['/']" class="text-info">Cerrar sesión</a>
                      </div>
                    </div>
                    <div id="columna1" class="col-sm">
                      <input id="volver" type=image src="assets/home.png" width="40" height="40"
                        onclick="location.href='/inicioestudiante'">
                    </div> </div>
                
            </div>
        </div>
      </nav>
    </div>

    <div id="infoEstudiante" class="row">
      <div class="col-sm">
        <h2 style="color:#FFFFFF">Nombre del estudiante</h2>
      </div>
      <div class="col col-lg-2">
        <h2 style="color:#FFFFFF" id="nombre">Grado</h2>
      </div>
    </div>
    <div class="row">
      <div class="container centrar-juego">
          <div id="botones" class="centrar-botones">
              <input class="btn btn-danger m-3" type="button" value="Iniciar" onclick="iniciarJuego()" />    
              <input class="btn btn-danger m-3" type="button" value="Reset" onclick="resetearJuego()" /> 
          </div>

          <div id="juego">
              <table>
                <tr>
                  <td id="0" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="1" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="2" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="3" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                </tr>
                <tr>
                  <td id="4" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="5" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="6" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="7" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                </tr>
                <tr>
                  <td id="8" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="9" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="10" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="11" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                </tr>
                <tr>
                  <td id="12" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="13" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="14" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                  <td id="15" class="letra" onclick="girarCarta()" data-valor="valor">?</td>
                </tr>
                </table>
          </div>
     


      </div>
    </div>
  </div>

</div>
