<div id="actividad" class="divClaseActividad">
  <div class="container-nav">
    <div id="nav1-row" class="row">
      <nav id="nav-otra" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="barra">
          <div id="titulo" class="col-sm">
            <h1 style="color:#FFFFFF">Colegio San Rafael sede el Pensil</h1>
          </div>
          <div class="col col-lg-2">
              <div class="row">
                  <div id="columna0" class="col">
                      <div id="cerrar" class="text-right">
                        <a [routerLink]="['/login']" class="text-info">Cerrar sesión</a>
                      </div>
                    </div>
                    <div id="columna1" class="col-sm">
                      <input id="volver" type=image src="assets/home.png" width="40" height="40"
                        onclick="location.href='/inicioestudiante'">
                    </div> 
                  </div>
                
            </div>
        </div>
      </nav>
    </div>

    <div id="infoEstudiante" class="row">
      <div class="col-sm">
        <h2 style="color:rgb(0, 0, 0)">{{nombre}}</h2>
      </div>
    </div>
    <div id="tabla" style="width: 800px" class="row">
      <div class="col-sm">
        <div id="lista"  class="container">
          <ul class="list-unstyled">
            <a *ngFor="let taller of talleres" routerLink="/jugar/preguntas/{{taller.id}}" routerLinkActive="router-link-active" >
              <li class="media">
                <img style="width: 100px;height: 100px;" src="assets/lapiz-escuela.gif" class="mr-3" >
                <div  class="media-body">
                  <h3 style="color: blueviolet" class="mt-0 mb-1">{{taller.titulo}}</h3>
                  <h5 style="color: black">{{taller.descripcion}}
                    </h5> 
                    _______________________________________________________________________________________   
                               </div>
              </li>
            </a>
            </ul>
          </div>
    </div>
  </div>
  <div id="pie" class="row">
    <h4  style="margin-left: 400px; margin-top: 50px " >Institución Educativa rural San Rafael sede el Pensil</h4>
  </div>
  </div>