<!-- Bookmark form -->
<div class="modal fade" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="bg-primary modal-header">
    <h5 class="modal-title text-white" id="myModalLabel">Formulario Estudiante</h5>
        </div>
        <div class="modal-body">
          
            <form id="bookmarkForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputName">Nombre</label>
                      <input  type="text" name="nombre" id="nombre"  placeholder="Nombre">
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputLastname">Apellido</label>
                    <input type="text" class="form-control" id="inputLastname" placeholder="Apellido">
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPhone">Telefono</label>
                    <input type="text" class="form-control" id="inputPhone" placeholder="Ingresar telefono">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Dirección</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="cra 14 #29-62">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputBarrio">Barrio</label>
                      <input type="text" class="form-control" id="inputbarrio"placeholder="Barrio">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputtipo">Tipo</label>
                      <select id="inputTipo" class="form-control">
                        <option selected>Casa</option>
                        <option>Edificio</option>
                        <option>conjunto</option>
                      </select>
                    </div>
                    
                  </div>
                  <div class="form-row">
                  <div class="form-group col-md-4">
                      <label for="inputGrado">Grado</label>
                      <select id="inputGrado" class="form-control">
                          <option selected>Grado</option>
                          <option>preescolar</option>
                          <option>primero</option>
                          <option>segundo</option>
                          <option>tercero</option>
                          <option>cuarto</option>
                          <option>quinto</option>
                        </select>
                    </div>
                  </div>
                 
              
              </form>
        <!-- Main content here -->
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <button type="submit" name="submit" class="btn btn-info btn-md" value="Registrar" (click)="registrarUsuario()">Guardar</button>
        </div>
      </div>
    </div>
  </div>