
<!-- Bookmark form -->
<div class="modal fade" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="bg-primary modal-header">
    <h5 class="modal-title text-white" id="myModalLabel">Formulario Estudiante</h5>
        </div>
        <div class="modal-body">
          
            <form id="bookmarkForm" #form="ngForm">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputName">Nombre</label>
                      <input #nombre="ngModel" type="text" name="nombre" id="nombre" placeholder="Nombre"class="form-control" [(ngModel)]="usuario.nombre" required>
                      
                    </div>
                    <div class="form-group col-md-6">
                    <label for="inputLastname">Apellido</label>
                    <input #apellido="ngModel" type="text" name="apellido" id="apellido" placeholder="apellido"class="form-control" [(ngModel)]="usuario.apellido" required>
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="inputPhone">Telefono</label>
                    <input #telefono="ngModel" type="text" name="telefono" id="telefono" placeholder="Telefono"class="form-control" [(ngModel)]="usuario.telefono" required>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Dirección</label>
                    <input #direccion="ngModel" type="text" name="direccion" id="direccion" placeholder="Direccion"class="form-control" [(ngModel)]="usuario.direccion" required>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputBarrio">Barrio</label>
                      <input type="text" class="form-control" id="inputbarrio"placeholder="Barrio">
                    </div>
                    <div class="form-group col-md-4">
                      <label for="inputtipo">Tipo</label>
                      <select id="inputTipo" class="form-control">
                        <option selected>Casa</option>
                        <option>Edificio</option>
                        <option>conjunto</option>
                      </select>
                    </div>
                    
                  </div>
                  <div class="form-row">
                  <div class="form-group col-md-4">
                      <label for="grado">Grado</label>
                      
                      <select #grado="ngModel" type="text" name="grado" id="grado" class="form-control"
                      [(ngModel)]="gradoEnum" required>
                      <option *ngFor="let symbol of keys(grados)" [ngValue]="grados[symbol]">{{symbol}}</option>
                    </select>
                    </div>
                  </div>
                 
              
              </form>
        <!-- Main content here -->
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          <input [disabled]="!form.form.valid" type="submit" name="submit" class="btn btn-info btn-md" data-dismiss="modal" value="Guardar" (click)="registrarUsuario()">
        </div>
      </div>
    </div>
  </div>