<div id="inicioEstu" class="div-principalIni">
  <div  id="nav" class="container-nav">
      <div id="nav-row" class="row">          
            <nav  id="nav-otra" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
             
               <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                 <div id="titulo" class="col-sm">
                    <h1 style="color:#FFFFFF">Colegio San Rafael sede el Pensil</h1> 
                 </div>
                 
               </div>
             </nav>
      </div>
      <div id="infoEstudiante" class="row">
         <div  class="col-sm">
           <h2 icon="assets/perfil.png" style="color:#FFFFFF">nombre</h2>
         </div>
         
      </div>
      <div class="row">
        <div class="col-sm">
          <img id="flecha" src="assets/flecha.gif" >
        </div>
          </div>
      
    </div>

    <div class="container-target">
        <div id="target-row" class="row justify-content-center align-items-center">
            <img style="margin-left: 50px" src="assets/Escribir.gif" >
          <div id="target-col-uno" class="col-sm ">
        <div class="card"style="width:  450px"  >
          <div id="card-uno" style="width:  430px" class="card-body" >
            
            <h4>¡Selecciona tu nombre de la lista!</h4>
           
               <a id="ingreso" style="margin-top: 50px; width: 16rem;" href="/inicio-estudiante" class="btn btn-primary" >Ingresar</a>
             </div>
          </div>
        </div>
        <img style="margin-right: 50px" src="assets/Ver.gif" >      
        
        </div>
      </div>
      <h2 *ngFor="let estudiante of estudiantes">estudiante.nombre</h2>
      <div id="pie" class="row">
        <h4  style="margin-left: 400px; margin-top: 50px " >Institución Educativa rural San Rafael sede el Pensil</h4>
      </div>
</div>




