*{
  margin: 0px;
  padding: 3px;  
}

div#nav-row{
  margin-top: 60px;
  }

div#target-row{
align-content: center;
  
}
img#flecha{
  margin-left: 580px;
  width: 200px;
  height: 100px;
}

div#target-col-uno{
  text-align: center;
  border-color: black;
  margin-left: 250px;
  margin-top: 5px;

      
}
  
.div-principalIni {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  height: 100vh;
}
div#pie{
  text-align: center;
background-image: url('src/assets/pie.png');
height: 150px;
}
div#infoEstudiante{
  background-image: url('src/assets/Encabezado.png');
  height: 100px;
  }  