<div id="login" class="div-principal">
    <div class="container">
        

        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" #form="ngForm">
                        <h3 class="text-center text-info">Registrarse en SanRafael-App</h3>
                        <div class="form-group">
                            <label for="nombre" class="text-info">Nombre:</label><br>
                            <input #nombre="ngModel"  name="nombre"  onkeyup="this.value=validarNombre(this.value)"class="form-control" [(ngModel)]="usuario.nombre" required>
                        </div>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input #username="ngModel" name="username"  onkeyup="this.value=NumText(this.value)" class="form-control" [(ngModel)]="usuario.username" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Contraseña:</label><br>
                            <input #password="ngModel" type="password" name="password" id="password" class="form-control" [(ngModel)]="usuario.password" required>
                        </div>
                        <div class="form-group">
                            <label for="confirmPassword" class="text-info">Confirmar contraseña:</label><br>
                            <input #confimPassword="ngModel" type="password" name="confirmPassword" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" required>
                        </div>
                        <div class="form-group">
                            
                            <input [disabled]="!form.form.valid" type="submit" name="submit" class="btn btn-info btn-md" value="Registrar" (click)="registrarUsuario()">
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>